$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$tablecolorblack: solid #000;

$gameborderblack: 000;
$pagecolor: #d34f1b;
$footerbackcolor: #000;
$foottextcolor: #fff;

td {
  border: 1px $tablecolorblack;
  height: 220px;
  text-align: center;
  width: 220px;
}
