$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$tablecolorblack: solid #000;

$gameborderblack: 000;
$pagecolor: #d34f1b;
$footerbackcolor: #000;
$foottextcolor: #fff;

body {
  $pagecolor: #d34f1b;
  position: relative;
}

div {
  $pagecolor: #d34f1b;
}

html {
  background-color: $pagecolor;
}

.bodystylediv {
  background-color: $pagecolor;
}

header {
  background-color: $pagecolor;
  margin-top: 10%;
  text-align: center;
}

h3 {
  text-align: center;
}

form {
  display: block;
  float: left;
  margin: 0;
  margin-right: 10px;
  padding: 0;
  width: 150px;
}

table {
  margin: auto;
  }

td {
  border: 1px $tablecolorblack;
  height: 220px;
  width: 220px;
}

.topcolorscheme {
  background-color: $footerbackcolor;
}

.turn {
  height: 20px;
  margin: 0 10 10;
  padding: 0;
  text-align: center;
}

.winner {
  font-size: 40px;
  height: 40px;
  margin: 10px auto 30px;
  padding: 10px;
  text-align: center;
}

.container-fluid {
  background-color: $pagecolor;
}

.game-piece {
  font-size: 24px;
  text-align: center;
}

.new-game {
  display: block;
  float: right;
  font-size: 14px;
  margin-right: 0;
  min-height: 10px;
  outline: none;
  padding: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
}

.alerts {
  font-size: 24px;
  padding: 10px;
  position: absolute;
  right: 0;
}

.wrapper {
  background-color: $pagecolor;
  height: 2000px;
  margin: auto 10px;
  overflow-x: hidden;
  overflow-y: hidden;
  width: auto;
}

.index {
  padding: 10px;
  position: absolute;
  right: 0;
}

.position-sign-in {
  display: block;
  float: left;
  height: 20px;
  margin-left: 20px;
  width: 60px;
}

.position-change-password {
  display: block;
  float: left;
  height: 20px;
  margin-left: 120px;
  width: 60px;
}
